* {
  box-sizing:border-box;
}

body {
  min-width:320px;
  overflow-x:hidden;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
          font-smoothing:antialiased;
}

a {
  text-decoration:none;
}

fieldset {
  padding:0;
  border:0;
  margin:0;
}

input, textarea, button {
  outline:0;
}
