/*----------------------------------------------------------
  Use/replace the following classes with styles
  relevant to your designs.
----------------------------------------------------------*/
.container {
  margin:0 auto;
  width:100%;
  max-width: 1310px;
  padding:0 30px;

  @include breakpoint(m) {
    padding: 0 5px;
  }

  @each $classname, $width in $containers {
    &--#{$classname} {
      max-width:$width;
    }
  }
}
