.post {
  transition: opacity .3s ease;

  &__image {
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    transition: all .3s ease;
  }

  &__image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__info {
    position: relative;
    display: inline-block;

    .post-data {
      display: inline-block;
      margin: 15px 10px;
    }
  }

  &--large {
    .post__image {
      padding-bottom: 35%;
    }

    .post__info {
      background: #fff;
      margin-top: -100px;
      width: 80%;
      max-width: 890px;

      .news-title {
        padding: 25px 80px;
      }

      .share-buttons {
        margin: 5px 0 15px;
      }
    }

    .divider {
      width: 260px;
    }
  }

  &--med {
    padding: 30px 15px;

    .post__image {
      padding-bottom: 50%;
    }

    .post__info {
      .news-title {
        padding: 15px 0;
        max-width: 330px;
      }
    }

    .pre-title--tag {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--small {
    padding: 30px 15px;

    .post__image {
      padding-bottom: 100%;
    }

    .post__info {
      .news-title {
        padding: 15px 0;
        max-width: 330px;
      }
    }

    .pre-title--tag {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--feat {
    display: block;
    .post__image {
      display: inline-block;
      width: 100%;
      padding-bottom: 60%;
    }

    .post__image-container {
      display: inline-block;
      width: 45%;
      vertical-align: middle;
      font-size: 0;
    }

    .post__info {
      width: 45%;
      margin-left: 5%;
      display: inline-block;
      vertical-align: middle;
      max-width: 570px;

      .divider {
        max-width: 250px;
        margin-top: 25px;
      }
    }
  }

  &:hover &__image:not(.article-hero) {
    transform: scale(1.1);
    transition: all .3s ease;
  }

  &:hover .news-title:not(.article-title) {
    color: $red;
    transition: all .3s ease;
  }
}

.postHover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.divider {
  background: #ebebeb;
  height: 1px;
  display: block;
  margin: 0 auto;
}

@include breakpoint(xxl) {
  .post {
    &--small {
      .post__info {
        .post-data {
          @include font-size(12px);
        }
      }
    }
  }
}

@include breakpoint(m) {
  .post {
    &--large {
      .post__image {
        padding-bottom: 50%;
      }

      .post__info {
        margin-top: -50px;

        .news-title {
          @include font-size(30px);
          padding: 25px 35px;
        }

        .post-data {
          @include font-size(14px);
        }
      }
    }

    &--feat {
      .post__image {
        width: 100%;
        padding-bottom: 45%;
      }

      .post__image-container {
        width: calc(100% - 40px);
        margin: 0 20px;
      }

      .post__info {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: -41px;

        .news-title {
          @include font-size(30px);
          margin: 0 auto;
          max-width: 330px;
        }
      }
    }

    .post-data {
      @include font-size(12px);
    }
  }
}
